{% extends 'base.html' %}
{% load static %}

{% load static %}
{% block title %} Alimama | Cart {% endblock %}

{% block content %}

{% if not cart_items %}
<div class="text-center">
    <br>
    <h1 class="text-center product_title">
        Your shopping cart is empty
    </h1>
    <br>
    <p class="text-center">
        Please click <a href="{% url 'home' %}">here</a> tot continue shopping
    </p>
</div>
{% else %}
<div class="text-center">
    <br>
    <div class="text-center product_title">
        Your Shopping Cart
    </div>
</div>
<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table cart_table">
            <thead class="cart_thead">
                <tr>
                    <th colspan="4">Your items</th>
                </tr>
            </thead>
            {% for items in cart_items %}
            <tr>
                <td>
                    <a href="items.product.get_url"> <img src="{{ items.product.image.url}}" alt="" srcset=""
                            width="150" height="150"></a>
                </td>
                <td class="text-left">
                    {{ items.product.name }}
                    <br>
                    SKU: {{ items.product.id }}

                    <br>
                    Unit price: {{ items.product.price }}
                    <br>
                    Quantity: {{ items.quantity }}
                </td>
                <td> {{ items.sub_total }}
                </td>
                {% if items.quantity < items.product.stock %} <td>
                    <a href="{% url 'add_cart' items.product.id %}"><i class="bi bi-plus-square-fill"
                            style="font-size: 24px; color: green;"></i></a>
                    <a href="http://"><i class="bi bi-dash-square-fill" style="font-size: 24px; color: red;"></i></a>
                    <a href="http://"><i class="bi bi-trash3-fill" style="font-size: 24px; color: black;"></i></a>
                    </td>
                    {% else %}
                    <a href="http://"><i class="bi bi-dash-square-fill" style="font-size: 24px; color: red;"></i></a>
                    <a href="http://"><i class="bi bi-trash3-fill" style="font-size: 24px; color: black;"></i></a>
                    {% endif %}
            </tr>
            {%endfor%}
        </table>

    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table cart_table">
            <thead class="cart_thead">
                <tr>
                    <th>Check out</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                        Please review your card before payment
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        Your total is <strong>{{ total }}</strong>$
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2">
            <a href="{% url 'home' %}">
                <button class="btn btn-lg btn-block btn-dark" type="button">Continue Shopping</button>
            </a>
        </div>
        <div class="mx-auto">

        </div>
    </div>
</div>
{% endif %}

{% endblock %}