{% extends 'base.html' %}
{% load static %}

{% load static %}
{% block title %} Alimama | Cart {% endblock %}

{% block content %}

{% if not cart_items %}
<div class="container h-100">
    <div class="text-center">
        <br>
        <h1 class="text-center product_title">
            Your shopping cart is empty
        </h1>
        <br>
        <p class="text-center">
            Please click <a href="{% url 'home' %}">here</a> tot continue shopping
        </p>
    </div>
    {% else %}
    <div class="text-center">
        <br>
        <div class="text-center product_title">
            Your Shopping Cart
        </div>
    </div>
    <div class="row mx-auto mb-5">
        <div class="col-lg-9 col-md-9 col-sm-12 text-center">
            <table class="table cart_table">
                <thead class="cart_thead">
                    <tr>
                        <th colspan="4" style="width: 100%;">Your items</th>
                    </tr>
                    <br>
                </thead>
                {% for items in cart_items %}
                <tr>
                    <td>
                        <a href="items.product.get_url"> <img src="{{ items.product.image.url}}" alt="" srcset=""
                                width="150" height="150"></a>
                    </td>
                    <td class="text-left">
                        {{ items.product.name }}
                        <br>
                        SKU: {{ items.product.id }}

                        <br>
                        Unit price: {{ items.product.price }} €
                        <br>
                        Quantity: {{ items.quantity }}
                    </td>
                    <td> {{ items.sub_total }} €
                    </td>

                    {% if items.quantity < items.product.stock %} <td>
                        <a href="{% url 'add_more_to_cart' items.product.id %}"><i class="bi bi-plus-square-fill"
                                style="font-size: 24px; color: green;"></i></a>
                        <a href="{% url 'cart_remove' items.product.id %}"><i class="bi bi-dash-square-fill"
                                style="font-size: 24px; color: red;"></i></a>
                        <a href="{% url 'delete_cart_item' items.product.id %}"><i class="bi bi-trash3-fill"
                                style="font-size: 24px; color: black;"></i></a>
                        </td>
                        {% else %}
                        <!-- <td>
                            <strong>Got out of stock</strong>

                        </td> -->
                        <td>
                            <a><i class="bi bi-plus-square-fill" style="font-size: 24px; color: gray;"></i></a>
                            <a href="{% url 'cart_remove' items.product.id %}"><i class="bi bi-dash-square-fill"
                                    style="font-size: 24px; color: red;"></i></a>
                            <a href="{% url 'delete_cart_item' items.product.id %}"><i class="bi bi-trash3-fill"
                                    style="font-size: 24px; color: black;"></i></a>
                        </td>

                        {% endif %}

                </tr>
                {%endfor%}
            </table>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
            <table class="table cart_table">
                <thead class="cart_thead">
                    <tr>
                        <th>Check out</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                            Please review your card before payment
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            Your total is <strong>{{ total }} €</strong>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- <form id="payment-form">
            <div id="payment-element">
            </div>
            <button id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pay now</span>
            </button>
            <div id="payment-message" class="hidden"></div>
        </form> -->
            <!-- <div class="mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{data_key}}"
                    data-amount="{{stripe_total}}" data-name="EC-Store" data-description="{{description}}"
                    data-locale="auto" data-currency="eur" data-shipping-address="true" data-billing-address="true"
                    data-zip-code="true">
                    </script>
            </form>
        </div> -->
            <div class="d-grid gap-2 mx-auto">
                <form action="" method="post">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{data_key}}"
                        data-amount="{{stripe_total}}" data-name="EC-Store" data-description="{{description}}"
                        data-locale="auto" data-currency="eur" data-shipping-address="true" data-billing-address="true"
                        data-zip-code="true">
                        </script>
                </form>
            </div>

            <!-- gpt -->

            <!-- <div class="d-grid gap-2">
            <form action="" method="POST">
                {% csrf_token %}
                <button data-key="{{data_key}}" data-amount="{{stripe_total}}" data-name="EC-Store"
                    data-description="{{description}}" data-locale="auto" data-currency="eur"
                    data-shipping-address="true" data-billing-address="true" data-zip-code="true"
                    class="btn btn-lg btn-block btn-success" style="width: 100%;" type="submit">Pay Now</button>
            </form>

        </div> -->

            <a href="{% url 'home' %}">
                <button class="btn btn-lg btn-block btn-dark" type="button" style="width: 100%;">Continue
                    Shopping</button>
            </a>
        </div>
        <div class="">

        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
{% endif %}

{% endblock %}