{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <br><br>
    <h2>Change Password</h2>
    <br>
    <hr style="width: 20%; margin: auto;">
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="post" class="your-form-class">
                {% csrf_token %}
                {% for field in form %}
                <div class="row justify-content-center" style="list-style-type: none;">
                    <label for="{{ field.id_for_label }}" style="list-style-type: none;">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <ul class="list-unstyled" style="list-style-type: none;">
                        <li><small class="form-text text-muted">{{ field.help_text }}</small></li>
                    </ul>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
                <br><br>
                <button type="submit" class="btn btn-outline-success" style="width: 50%;">Save</button>
            </form>
        </div>

    </div>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}