{% extends 'base.html'%}

{% block content %}

<div class="container text-center mt-5 h-100">
    <br><br>

    <h1 style="font-size: 8rem;"><i class="bi bi-patch-check" style="color: green;"></i></h1>
    <br>
    <hr style="width: 20%; margin: auto;">
    <br>
    <h3>Thank you!</h3>
    <p>We have recieved your message, we will get in touch with you within next 72 hours. <br><br><br> <strong>Your
            Alimama
            Team</strong> </p>
    <br><br>
    <!-- Use Bootstrap's grid system to center the form -->
    <div class="row justify-content-center">
        <div class="col-lg-6"> <!-- Adjust the column size as needed -->

        </div>
    </div>
    <br>
</div>

{% endblock %}