{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'store/images/logo.png'%}" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Alimama
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="dropdown-center">
                        <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu">
                            {% for category in links %}
                            <li><a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a></li>
                            {% endfor %}
                            <li><a class="dropdown-item" href="{% url 'home' %}">
                                    <span style="font-weight: 600;">All Products</span> </a></li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>

                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
            <div class="navbar-nav ms-3">
                {% if request.user.is_authenticated and request.user.first_name %}
                <a href="" class="nav-link">Welcome, {{request.user.first_name}}</a>
                <a href="{% url 'signout' %}" class="nav-link">Sign out</a>
                {% else %}
                <a class="nav-link" href="{% url 'signup' %}"><i class="bi bi-person-plus"
                        style="font-size: 1.5rem;"></i></a>
                <a class="nav-link" href="{% url 'signin' %}"><i class="bi bi-box-arrow-in-right"
                        style="font-size: 1.5rem;"></i></a>
                {%endif%}

                {% if item_count > 0 %}
                <a class="nav-link" href="{% url 'cart_detail' %}"><i class="bi bi-basket"
                        style="font-size: 1.5rem;"></i>({{item_count}})</a>
                {% endif %}

            </div>

        </div>
    </div>
</nav>