{% extends 'base.html' %}

{% load static %}
{% block title %} Alimama | {{product.name}} {% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col col-12 col-md-8 col-lg-6 me-5">
            <img src="{{ product.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="col my-5">
            <h1 class="product_title">{{ product.name }}</h1>
            <div class="d-flex justify-content-between">
                <p>Price: <span class="price_num mb-0">{{ product.price }}</span>€</p>
                {% if product.stock <= 0 %} <p class="text-justify product_text">Out of stock</p>
                    {% else %}
                    <div class="row">
                        {% if product.stock < 5 %} <div class="col">
                            Only <span style="color: red; font-size: 1rem;">{{ product.stock }}</span> in Stock
                    </div>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <div class="col">
                        <form method="post" action="{% url 'add_cart' product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <select class="form-select" name="quantity" id="quantity" aria-label="Quantity">
                                {% for quantity in quantity_range %}
                                <option value="{{ quantity }}">{{ quantity }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success" style="width: 200px;">Add to Cart <i
                                class="bi bi-cart-plus"></i></button>
                        </form>
                    </div>
                    {% else %}
                    <div class="col">
                        <select class="form-select" name="quantity" id="quantity" aria-label="Quantity" disabled>
                            {% for quantity in quantity_range %}
                            <option value="{{ quantity }}">{{ quantity }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <form method="post" action="{% url 'signin' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="btn btn-success" style="width: 200px;">Sign in</button>
                        </form>
                    </div>
                    {% endif %}
            </div>
            {% endif %}
        </div>
        <br>
        <p class="product_description mt-3">Product Description:</p>
        <p class="text-justify product_text">{{ product.description }}</p>
    </div>
</div>
</div>
{% endblock %}