{% extends 'base.html' %}

{% block content %}
<div class="container text-center mb-5 mt-5">
    <h2>Password Reset</h2>
    <br>
    <hr style="width: 50%; margin: auto;"> <!-- Adjusted width to 100% -->

    <br><br>
    <p>Please enter your email address to receive a link to reset your password.</p>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn btn-success" style="width: 100px;" type="submit">Send</button>
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}