{% extends 'base.html' %}

{% block content %}
<div class="container text-center justify-content-center mt-5 h-100">
    <h2>Password Change Successful</h2>
    <br>
    <hr style="width: 50%; margin: auto;">
    <br>
    <div class="row justify-content-center align-self-center w-100">
        <br>
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <br>
            <p>Your password has been successfully updated.</p>
            <br><br><br>
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Return to Home</a>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        window.location.href = "{% url 'home' %}";
    }, 5000); // Redirect after 5000 milliseconds (5 seconds)
</script>

<!-- Alternatively, using the meta tag for automatic redirection -->
<meta http-equiv="refresh" content="5;url={% url 'home' %}" />
{% endblock %}